fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
scikit-learn
joblib
pandas
numpy
reportlab
httpx
python-dotenv
matplotlib
seaborn
google-generativeai
